<section class=" row seventh ">
    <div class="about">
        <h3>About Us</h3>
        <br>
        <p>
            Lambda's new and expanded Chelsea location represents a truly authentic <strong>Greek</strong>
            patisserie,
            featuring.
        </p>
    </div>
    <div class="opening">
        <h3>Opening Hours</h3>
        <div><img src="/Divider.png" alt=""></div>
        <p><b>Mon-Thu:</b>7:00am-8:00pm</p>
        <p><b>Fri-Sun:</b>7:00am-10:00pm</p>
        <div class="bank-icons">
            <i class="fa fa-cc-paypal" aria-hidden="true"></i>
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <i class="fa fa-cc-visa" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        </div>
    </div>
    <div class="location">
        <h3>Our Location</h3>
        <div><img src="/Divider.png" alt=""></div>
        <p>19th Paradise Street Sitia<br> 128 Meserole Avenue</p>
        <div class="location-icons">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.pinterest.com" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>

        </div>
    </div>

</section>