<section class="row seventh">

    <footer class="page-footer font-small blue pt-4">

        <div class="container-fluid text-center text-md-left">

            <div class="row justify-content-between">

                <div class="col-md-4 mt-md-0 mt-3">

                    <h3>About Us</h3>
                    <br>
                    <p>
                        We are providing the mobiles in the best price. We are the dealer of all the brands in our city.
                        We are the best in the city.
                    </p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-3 mb-md-0 mb-3">

                    <h3>Opening Hours</h3>
                    <p><b>Mon-Thu:</b>7:00am-8:00pm</p>
                    <p><b>Fri-Sun:</b>7:00am-10:00pm</p>
                    <div class="bank-icons">
                        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    </div>

                </div>
      
                <div class=" location col-md-3 mb-md-0 mb-3">

              
                    <h3>Our Location</h3>
                    <p>19th Paradise Street Sitia<br> 128 Meserole Avenue</p>
                    <div class="location-icons">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.youtube.com"  target="_blank">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.pinterest.com" target="_blank">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>

                    </div>
                   

                </div>

            </div>


    </footer>
    <!-- Footer -->

</section>