* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.container-body {
  min-height: 80vh;
  background-color: rgb(244, 244, 244);
  margin: 0;
}
.home-btn {
  color: coral;
}
.container {
  margin: 0;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 12px;
  color: black;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: grey;
}
#home {
  background: url(../images/mobile-phone-g9d683255d_1920.jpg) no-repeat
    center/cover fixed;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: beige;
  padding-left: 2rem;
}
#home {
  font-size: smaller;
}
#home span {
  color: coral;
}
button a {
  text-decoration: none;
}
#home h1 {
  font-size: 1.5rem;
}
#home h5 {
  font-size: small;
}
#navbarSupportedContent > ul li {
  margin-top: 1rem;
}
.latest {
  background-color: rgb(232, 232, 232);
}
.seventh {
  background-color: rgb(19, 19, 19);
  color: rgb(228, 228, 228);
  max-width: 100%;
  min-height: 35vh;
  font-family: sans-serif;
  margin: 0;
  font-size: x-small;
}

.bank-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  font-size: medium;
  margin-bottom: 2rem;
}

.location-icons {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 0.5rem;
  color: rgb(177, 177, 177);
}
.location a {
  color: white;
  font-size: medium;
}
input[type="number"] {
  width: 2.5rem;
}
.buy-button {
  border-radius: 0%;
  display: block;
  margin: 1rem 0rem;
}
/* cart page */
.cart-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
}
.cart-page table {
  width: 80%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: coral;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: coral;
  font-size: 14px;
}
td img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid coral;
  width: 100%;
  max-width: 300px;
}

#contact {
  width: 100%;
  height: 100%;
  background-color: #555;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: rgb(227, 225, 225);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
}
#contact .form-control,
#contact textarea {
  background-color: #000;
  max-width: 400px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 4px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .contact-text {
    font: 300 12px "Lato", sans-serif;
    letter-spacing: 1.5px;
    color: #bbb;
  }
  .copyright {
    color: #bbb;
  }
}

@media screen and (max-width: 569px) {
  .section-header {
    font-size: 30px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
    max-width: 250px;
  }
  .send-button {
    max-width: 250px;
  }
  .alt-send-button {
    max-width: 250px;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 30px;
    max-width: 250px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  .copyright {
    width: 250px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

#admin-btn {
  background-color: coral;
  padding: 1rem 2rem;
  width: 100%;
  border: 2px solid coral;
  border-radius: 10px;
  color: rgb(121, 104, 104);
}
