<!-- <div class="container contact-page">
    <header class="d-flex justify-content-center pt-2">
        <h1>Contact-Us</h1>

    </header>
    <div class="content">
        <div class="content-form">
            <section>
                <i class="fa-solid fa-location-dot fa-2x"></i>
                <h2>
                    Address
                </h2>
                <p>
                    Lorem ipsum dolor sit <br>
                    Lorem, ipsum dolor.
                </p>
            </section>
            <section>
                <i class="fa-solid fa-phone fa-2x" aria-hidden="true"></i>
                <h2>
                    phone
                </h2>
                <p>
                    0492-762952
                </p>
            </section>
            <section>
                <i class="fa-solid fa-map-envelope fa-2x" aria-hidden="true"></i>
                <h2>
                    Email
                </h2>
                <p>
                    fastmobile@gmail.com
                </p>
            </section>
        </div>
    </div>
    <form action="">
        <div class="form">
            <div class="right">
                <div class="contact-form">
                    <input type="text" required>
                    <span>Full Name</span>
                </div>
                <div class="contact-form">
                    <input type="E-mail" required>
                    <span>E-mail ID</span>
                </div>
                <div class="contact-form">
                    <textarea name="text"></textarea>
                    <span>Enter your message</span>
                </div>
                <div class="contact-form">
                    <input type="submit" name="submit">
                </div>
            </div>
        </div>
    </form>
    <div class="media">
        <li><i class="fa fa-facebook-square fa-2x aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram fa-2x aria-hidden="true"></i></li>
        <li><i class="fa fa-whatsapp fa-2x aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
    </div>
    <div class="empty">

    </div> -->
<section id="contact">

    <h1 class="section-header">Contact</h1>

    <div class="contact-wrapper">

        <!-- Left contact page -->

        <form id="contact-form" class="form-horizontal" role="form">

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value=""
                        required>
                </div>
            </div>

            <textarea class="form-control" rows="7" placeholder="MESSAGE" name="message" required></textarea>

            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                </div>

            </button>

        </form>

        <!-- Left contact page -->

        <div class="direct-contact-container">

            <ul class="contact-list">
                <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City,
                            State</span></i></li>

                <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

                <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                href="mailto:#" title="Send me an email">hitmeup@gmail.com</a></span></i></li>

            </ul>

            <hr>
            <ul class="social-media-list">
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-codepen" aria-hidden="true"></i></a>
                </li>
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
            <hr>

            <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

        </div>

    </div>

</section>